src/main/mule/api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
   <flow name="api-main">
        <http:listener config-ref="api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="api-config" />
        <error-handler ref="Global-apiKit-ErrorError_Handler">
           
        </error-handler>
    </flow>
    <flow name="api-console">
        <http:listener config-ref="api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="api-config" />
		<error-handler ref="Global-apiKit-ErrorError_Handler" />
    </flow>
    <flow name="get:\assessments:api-config">
		<flow-ref doc:name="Flow Reference to intialize Request Data" doc:id="928354bf-e57a-401b-b67a-7d4d9d86452a" name="initialize-request-data-common-subflow" />
		<logger level="INFO" doc:name="Start Get \assessments Logger" doc:id="10e1985e-f336-40f9-80ea-9ae09e7cb167" message="#[%dw 2.0 &#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: vars.requestTime, &#10;    transactionId: vars.requestMessage.headers.'x-fms-transactionId',&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Get Assessment Details&quot;, 	&#10;    Category:  &quot;Fund Management&quot;, &#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState:  &quot;START &quot; &#10;}]"/>
		<flow-ref doc:name="Flow Reference Get Assessments" doc:id="10e0ec01-89b2-47ed-becb-bc703bb24b37" name="get-assessments-Details" />
		<logger level="INFO" doc:name="End Get \assessments Logger" doc:id="38299b7c-9033-4500-ac77-bb5737357020" message="#[%dw 2.0 &#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: now() , &#10;    transactionId: vars.requestMessage.headers.'x-fms-transactionId',&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Get Assessment Details&quot;, 	&#10;    Category:  &quot;Fund Management&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    processingTime: (now() - vars.requestTime),&#10;    txnState:  &quot;End &quot; &#10;}]"/>
		<error-handler ref="Global-API-ErrorError_Handler" />
    </flow>
    <flow name="post:\assessments:application\json:api-config">
		<flow-ref doc:name="Flow Reference to intialize Request Data" doc:id="48351e3d-5458-4d09-9b83-ec8c50da6a0d" name="initialize-request-data-common-subflow"/>
        <logger level="INFO" doc:name="Start Post \assessments Logger" doc:id="5aa728c9-7791-4cd3-91cc-8de93a9c549d" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: vars.requestTime,&#10;	transactionId: vars.requestMessage.headers.'x-fms-transactionId',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName:  &quot;Post Assessment Details&quot;, 	&#10;    Category:  &quot;Fund Management&quot;, &#10;	OriginatingApplication: &quot;Process API&quot;,&#10;	DesinationApplication: &quot;Salesforce&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	txnState: &quot;START &quot;&#10;}]"/>
		<flow-ref doc:name="Flow Reference Post Assessments" doc:id="ed767559-70f8-4d8f-a90d-052c8a35b5e1" name="Post-assessments-Details" />
		<logger level="INFO" doc:name="End Post \assessments Logger" doc:id="5a0f04c6-d5a7-4ea1-8a59-684a5f8f81b0" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.requestMessage.headers.'x-fms-transactionId',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName:  &quot;Post Assessment Details&quot;, 	&#10;    Category:  &quot;Fund Management&quot;, &#10;	OriginatingApplication: &quot;Process API&quot;,&#10;	DesinationApplication: &quot;Salesforce&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	processingTime: (now() - vars.requestTime),&#10;	txnState: &quot;End &quot;&#10;}]"/>
		<error-handler ref="Global-API-ErrorError_Handler" />
    </flow>
    
     <flow name="get:\assessments\report\(customerId):api-config">
		<flow-ref doc:name="Flow Reference to intialize Request Data" doc:id="dde7a4f1-c76f-4f4c-9eb7-6ea074a95a23" name="initialize-request-data-common-subflow" />
		<logger level="INFO" doc:name="Start Get \assessments Logger" doc:id="b5da7fc7-5b82-49a8-b941-d694d5bfad41" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: vars.requestTime,&#10;	transactionId: vars.requestMessage.headers.'x-fms-transactionId',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: &quot;Get Assessment Request Details&quot;,&#10;	Category: &quot;Fund Management&quot;,&#10;	OriginatingApplication: &quot;Process API&quot;,&#10;	DesinationApplication: &quot;Salesforce&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	txnState: &quot;START &quot;&#10;}]"/>
		<flow-ref doc:name="Flow Reference Get Assessments Details" doc:id="60c6fb07-1ac3-46ef-9def-e90e609ce16a" name="get-assessments-reports-Details" />
		<logger level="INFO" doc:name="End Get \assessments Logger" doc:id="a1f92f2b-8263-4b12-bb62-f192363b2748" message="#[%dw 2.0&#10;output application/json indent = false&#10;---&#10;{&#10;	TimeStamp: now(),&#10;	transactionId: vars.requestMessage.headers.'x-fms-transactionId',&#10;	AppName: app.name,&#10;	FlowName: flow.name,&#10;	BusinessProcessName: &quot;Get Assessment Report Details&quot;,&#10;	Category: &quot;Fund Management&quot;,&#10;	OriginatingApplication: &quot;Process API&quot;,&#10;	DesinationApplication: &quot;Salesforce&quot;,&#10;	CustomerId: &quot;NA&quot;,&#10;	processingTime: (now() - vars.requestTime),&#10;	txnState: &quot;End &quot;&#10;}]"/>
		<error-handler ref="Global-API-ErrorError_Handler" />
    </flow>
</mule>
